.img-grid {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 30px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.7;
}
.img-wrap {
  border-radius: 15px;
  img {
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
